body{
	top:0;
	bottom:0;
	width:100%;
	background:#faffff;
	position:absolute;
	display:-webkit-flex;
	-webkit-flex-direction:column;
}
.header{
	background:#fff;
	position:relative;
	height:1.4rem;
	img{
	 width:100%;
	 height:100%;
	}
	.head-search{
	 padding:.1rem;
	 width:100%;
	 box-sizing:border-box;
	 position:absolute;
	 top:5px;
	 display:-webkit-flex;
	 .left{
	   width:.4rem;
	   height:.35rem;
	   margin-right:5px;
	  img{
	   width:100%;
	   height:100%;
	  }
	 }
	 input{
	  width:100%;
	  padding-left:.1rem;
	  padding-right:.1rem;
	  border:none;
	  border:1px solid #eee;
	  border-radius:15px;
	 }
	 .right{
	   width:.4rem;
	   height:.35rem;
	   margin-left:5px;
	  img{
	   width:100%;
	   height:100%;
	  }
	 }
	}
}
.content{
	-webkit-flex:1;
	overflow-y:auto;
	padding:.07rem;
	.box-main-pink{
	 background:#ff5555;
	 display:-webkit-flex;
	 margin-bottom:5px;
	 .main-left{
	 border-right:1px solid #ccc;
	 width:35%;
	  dl{
	   color:#fff;
	   text-align:center;
	   padding:.1rem;
	   box-sizing:border-box;
	   dt{
	    margin-top:8px;
	   }
	   dd{
        margin-top:5px;
	   }
	  }
	 }
	 .main-right{
      width:70%;
	   ul{
          display:-webkit-flex;
          li{
           -webkit-flex:1;
           line-height:.5rem;
           text-align:center;
           color:#fbf1ef;
           border:1px solid #fbf1ef;
          }
	   }
	 }
	}
	.box-main-blue{
	 background:#03a9f5;
	 display:-webkit-flex;
	 margin-bottom:5px;
	 .main-left{
	 border-right:1px solid #ccc;
	 width:35%;
	  dl{
	   color:#fff;
	   text-align:center;
	   padding:.1rem;
	   box-sizing:border-box;
	   dt{
	    margin-top:8px;
	   }
	   dd{
        margin-top:5px;
	   }
	  }
	 }
	 .main-right{
      width:70%;
	   ul{
          display:-webkit-flex;
          li{
           -webkit-flex:1;
           line-height:.5rem;
           text-align:center;
           color:#fbf1ef;
           border:1px solid #fbf1ef;
          }
	   }
	 }
	}
	.box-main-green{
	 background:#7cb63d;
	 display:-webkit-flex;
	 margin-bottom:5px;
	 .main-left{
	 border-right:1px solid #ccc;
	 width:35%;
	  dl{
	   color:#fff;
	   text-align:center;
	   padding:.1rem;
	   box-sizing:border-box;
	   dt{
	    margin-top:8px;
	   }
	   dd{
        margin-top:5px;
	   }
	  }
	 }
	 .main-right{
      width:70%;
	   ul{
          display:-webkit-flex;
          li{
           -webkit-flex:1;
           line-height:.5rem;
           text-align:center;
           color:#fbf1ef;
           border:1px solid #fbf1ef;
          }
	   }
	 }
	}
	.box-main-orange{
	 background:#ff9801;
	   ul{
          display:-webkit-flex;
          li{
           -webkit-flex:1;
           line-height:.5rem;
           text-align:center;
           color:#fbf1ef;
           border:1px solid #fbf1ef;
          }
	   }
	}
}
footer{
	height:.45rem;
	background:#fff;
	text-align:center;
	border-top:1px solid #ccc;
	ul{
	display:-webkit-flex;
	text-align:center;
	li{
	 -webkit-flex:1;
	 color:#999;
	}
	.pink{
	 color:#f23644;
	}
	li:hover{
	color:#f23644;
	}
	}
}